.contactContainer {
  padding: 20px;
  text-align: center;
}

.contactContainer h2 {
  margin-bottom: 20px;
}

.contactContainer p {
  margin: 5px 0;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a827f;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #0a827f;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contactButton:hover {
  background-color: #0a827f;
  color: white;
  text-decoration: none;
}

.icon {
  margin-right: 10px;
  vertical-align: middle;
}
